.home{
    width: 94%;
    height: auto;
    background-color: var(--greyBgColor);
    display: flex;
    align-items: center;
    justify-content: center;
    .home_page{
        width:85%;
        height: auto;
        background-color: var(--bgColor);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0 30px 0;
        padding:40px 0 40px 0 ;
        .blue_card{
            width: 85%;
            height: 126px;
            border: 1px solid rgba(24, 119, 242, 1);
            margin: 10px;
            border-radius: 10px;
            background-color: rgba(24, 119, 242, 0.04);
            display: flex;
            align-items: center;
            .box_one{
                width: 56px;
                height: 56px;
                background-color: rgba(24, 119, 242, 1);
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 20px;
                .person_icon{
                    font-size: 22px;
                    color: var(--color);
                }
            }
            .about{
                margin-left: 25px;
                h4{
                    color: var(--greyColor);
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                }
                p{
                    color: var(--darkBlueColor);
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                }
            }
        }
        .orange_card{
            width: 85%;
            height: 126px;
            border: 1px solid #DB5C14;
            margin: 10px;
            border-radius: 10px;
            background-color:rgba(219, 92, 20, 0.04);
            display: flex;
            align-items: center;
            .box_one{
                width: 56px;
                height: 56px;
                background-color:#DB5C14;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 20px;
                .person_icon{
                    font-size: 22px;
                    color: var(--color);
                }
            }
            .about{
                margin-left: 25px;
                h4{
                    color: var(--greyColor);
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                }
                p{
                    color: var(--darkBlueColor);
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                }
            }
        }
        .cards{
            width:85%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .violet_card{
                display: flex;
                align-items: center;
                width: 450px;
                height: 126px;
                border: 1px solid #8133FF;
                border-radius: 12px;
                background: rgba(129, 51, 255, 0.04);
                .box_one{
                    width: 56px;
                    height: 56px;
                    border-radius: 8px;
                    background: #8133FF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 20px;
                    .person_icon{
                        font-size: 22px;
                        color: var(--color);
                    }
                }
                .about{
                    margin-left: 25px;
                    h4{
                        color: var(--greyColor);
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        text-transform: capitalize;
                        margin-bottom: 10px;
                    }
                    p{
                        color: var(--darkBlueColor);
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                    }
                }
            }
            .green_card{
                display: flex;
                align-items: center;
                width: 450px;
                height: 126px;
                border-radius: 12px;
                border: 1px solid #1CAA44;
                background: rgba(28, 170, 68, 0.04);
                .box_one{
                    width: 56px;
                    height: 56px;
                    border-radius: 8px;
                    background: #1CAA44;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 20px;
                    .person_icon{
                        font-size: 22px;
                        color: var(--color);
                    }
                }
                .about{
                    margin-left: 25px;
                    h4{
                        color: var(--greyColor);
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        text-transform: capitalize;
                        margin-bottom: 10px;
                    }
                    p{
                        color: var(--darkBlueColor);
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                    }
                }
            }
        }
        .order_about{
            width: 85%;
            height: 410px;
            border-radius: 12px;
            border: 1px solid #ECECEC;
            margin-top: 20px;
         .order_card{
            h3{
                color: var(--darkBlueColor);
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                padding-top: 15px;
                padding-left: 40px;
            }
            .order_title{
               display: flex;
               align-items: center;
               justify-content: space-between;
               padding:25px 15px 25px 40px ;
               border-bottom: 1px solid  #E4E4E4;;
               h4{
                color: var(--greyColor);
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                margin-bottom: 15px;
               }
               p{
                color: var(--darkBlueColor);
                font-size: 17px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
               }
            }
            .order_titles{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding:25px 15px 25px 40px ;
                h4{
                 color: var(--greyColor);
                 font-size: 17px;
                 font-style: normal;
                 font-weight: 400;
                 margin-bottom: 15px;
                }
                p{
                 color: var(--darkBlueColor);
                 font-size: 17px;
                 font-style: normal;
                 font-weight: 700;
                 line-height: 28px;
                }
             }
         }
        }
    }
}

@media screen and (max-width:768px) {
    .home{
        width: 100%;
        .home_page{
            width: 100%;
            .cards{display: flex;
            flex-direction: column;
          .violet_card{
            width: 100%;
          }
          .green_card{
            width: 100%;
          }
        }
        }
    }
}